@page
@model Disunity.Store.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserIdentity[0].UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIdentity[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIdentity[0].PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIdentity[0].TwoFactorEnabled)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.UserIdentity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-username="@item.UserName">Edit</a> |
                <a asp-page="./Details" asp-route-username="@item.UserName">Details</a> |
                <a asp-page="./Delete" asp-route-username="@item.UserName">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>