@page
@model Disunity.Store.Pages.Admin.ModVersions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].Downloads)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].VersionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].WebsiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].FileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].IconUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModVersion[0].CreatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ModVersion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Downloads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>